<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MKC Shop</title>
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="./app.js" defer></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">MKC Merch-Store</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li v-for="(page, index) in pages" class="nav-item" :key="index">
                    <a 
                        class="nav-link"
                        :class="{active: activePage == index}" 
                        aria-current="page" 
                        :href="page.link.url"
                        :title="`This link goes to the ${page.link.text} page`"
                        @click.prevent="activePage = index"
                        >{{page.link.text }}
                        <span class="item-count" v-if="index === 1">
                            ({{ cart.length }})
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="content" class="container">
        <h1>{{ pages[activePage].pageTitle }}</h1>
        <p>{{ pages[activePage].content }}</p>
        <div class="products" v-if="activePage === 0">
            <h2>Produkte</h2>
            <ul v-for="(product, index) in products" :key="index">
                <div class="productcontainer">
                    <div class="text">
                        <h3>{{ product }}</h3>
                        <span>
                            Größen:
                            <select v-model="product.selectedSize">
                            <option v-for="size in product.sizes" :key="size" :value="size">{{ size }}</option>
                            </select>
                        </span>
                        Farben:
                        <select v-model="product.selectedColor">
                        <option v-for="color in product.colors" :key="color" :value="color">{{ color }}</option>
                        </select>
                        <br>
                        <span v-if="!product.motives"> 
                            Motive:
                            <select v-model="product.selectedMotive">
                                <option v-for="motive in product.motives" :key="motive[0]" :value="motive">{{ motive[1] }}</option>
                            </select>
                        </span>
                        <span v-if="!product.variations"> 
                            Variationen:
                            <select v-model="product.selectedMotive">
                                <option v-for="variation in product.variations" :key="variation[0]" :value="variation">{{ variation[1] }}</option>
                            </select>
                        </span>
                        <div>
                            <button @click.prevent="addToCart(product)" :disabled="!product.selectedSize || !product.selectedColor || !product.selectedMotive" :class="{ 'disabled-button': !product.selectedSize || !product.selectedColor || !product.selectedMotive }">
                                <img src="./images/cart.png" alt="Zum Warenkorb hinzufügen" width="15"/>
                            </button>                             
                        </div>
                    </div>
                    <div class="image" style="width: 600vh; height: auto;">
                        <img src="./images/cart.png">
                    </div>
                </div>
            </div>
            </ul>  
        </div>

        <div class="cart" v-if="activePage === 1">
            <ul v-for="(product, index) in cart" :key="index">
                <div>
                    <h3>{{ product.name }}</h3>
                    <div class="image">
                        <img src="./images/cart.png">
                    </div>
                    <ul><b>Farbe:</b> {{ product.color }}</ul>
                    <ul><b>Größe:</b> {{ product.size }}</ul>
                    <ul><b>Motiv:</b> {{ Object.values(product.motive)[0] }}</ul>
                    <div>
                        <button @click.prevent="removeFromCart(product)">
                            <img src="./images/cart.png" alt="Aus dem Warenkorb entfernen" width="15"/>
                        </button>
                    </div>
                </div>
            </ul>
        </div>
        <button @click.prevent="submitCart()">
        </button>
    </div>
</body>
</html>