<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MKC Shop</title>
    <link rel="icon" type="image/vnd.microsoft.icon" href="./images/mkclogo.ico">
    <script src="https://cdn.jsdelivr.net/npm/vue@3.0.0/dist/vue.global.prod.js"></script>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="./app.js" defer></script>
</head>
<body style="color: rgb(0, 0, 0);">
    <div class="loading-backdrop" v-if="loading">
        <div class="loading-content">
            <span class="loading-text">Laden</span>
            <span class="loading-dots">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </span>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="" @click.prevent="activePage = 0">MKC Merch-Store</a>
        <div class="container-fluid">
            <ul id="navcontent" class="navbar-nav me-auto mb-2 mb-lg-0">
                <li v-for="(page, index) in pages" class="nav-item" :key="index">
                    <a 
                        class="nav-link"
                        :class="{active: activePage == index}" 
                        aria-current="page" 
                        :href="page.link.url"
                        :title="`This link goes to the ${page.link.text} page`"
                        @click.prevent="activePage = index"
                        >{{ page.link.text }}
                        <span class="item-count" v-if="index === 1"
                    >
                            ({{ cartItemCount }})
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="content" class="container">
        <h1>{{ pages[activePage].pageTitle }}</h1>
        <p>{{ pages[activePage].content }}</p>
        <p v-if="activePage == 1 && !cart.length">{{ "Der Warenkorb ist leer" }}</p>

        <div class="products" v-if="activePage === 0">
            <h2>Produkte</h2><br>
            <ul v-for="(product, index) in products" :key="index">
                <div class="productcontainer">
                    <div class="text">
                        <h3>{{ `${product.name} (${product.prod_id})` }}</h3>
                        <div class="selections">
                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group custom-border flex-wrap">
                                    <button v-for="color in product.colors" :key="color" type="button"
                                            class="btn btn-select"
                                            :class="{ 'active': product.selectedColor === color }"
                                            @click="product.selectedColor = color"
                                            >{{ color }}
                                    </button>
                                </div>
                                <div class="btn-group custom-border flex-wrap">
                                    <button v-for="size in product.sizes" :key="size" type="button"
                                            class="btn btn-select"
                                            :class="{ 'active': product.selectedSize === size }"
                                            @click="product.selectedSize = size"
                                            >{{ size }}
                                    </button>
                                </div>
                                <div class="btn-group custom-border flex-wrap">
                                    <button v-for="motive in product.motives" :key="motive[0]" type="button"
                                            class="btn btn-select"
                                            :class="{ 'active': product.selectedMotive === motive }"
                                            @click="product.selectedMotive = motive"
                                            >{{ motive[1] }}
                                    </button>
                                </div>
                                <div class="btn-group custom-border flex-wrap ">
                                    <button v-for="variation in product.variations" :key="variation[0]" type="button"
                                            class="btn btn-select"
                                            :class="{ 'active': product.selectedVariation === variation }"
                                            @click="product.selectedVariation = variation"
                                            >{{ variation[1] }}
                                    </button>
                                </div>
                            </div>
                            <div class="container mt-4">
                                <button type="button" class="btn btn-success btn-sm" @click.prevent="addToCart(product)" :disabled="!propertiesSelected(product)" :class="{ 'disabled-button': !propertiesSelected(product)}">
                                  <img src="./images/cart.png" width="16" height="16" class="mr-1"> Zum Warenkorb hinzufügen
                                </button>
                            </div>
                            <div>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo sagittis fringilla. Integer at est risus. 
                                Curabitur risus nunc, finibus sed gravida ac, tempus eget justo.
                            </div>
                        </div>                                                                                
                    </div>
                    <div class="image" style="width: 600vh; height: auto;">
                        <img src="./images/IMG_2386.jpg" height="300">
                    </div>
                </div>
            </ul>
        </div>
    </div>
    <div class="cart" v-if="activePage === 1">
        <ul v-for="(product, index) in cart" :key="index">
            <div>
                <h3>{{ product.name }}</h3>
                <div class="image">
                    <img src="./images/cart.png">
                </div>
                <ul v-if="product.color"><b>Farbe:</b> {{ product.color }}</ul>
                <ul v-if="product.size"><b>Größe:</b> {{ product.size }}</ul>
                <ul v-if="product.motive"><b>Motiv:</b> {{ Object.values(product.motive)[0] }}</ul>
                <ul v-if="product.variation"><b>Variation:</b> {{ Object.values(product.variation)[0] }}</ul>
                <ul><b>Preis:</b> {{ `${product.price}€` }}</ul>
                <ul><b>Anzahl:</b>{{ product.amount }}</ul>
                <div>
                    <button @click.prevent="removeFromCart(product)">
                        <img src="./images/bin.png" alt="Aus dem Warenkorb entfernen" width="15"/>
                    </button>
                </div>
                <!-- error popup might go here -->
            </div>
        </ul>
        <button v-if="cart.length" class="submitCartBtn" @click.prevent="submitCart()">Bestellformular verarbeiten</button>
        <br>
        <a style="margin-left: 30%;" v-if="pdf" :href="pdf">Hier clicken, um das Bestellformular herunterzuladen!</a>
    </div>
    <div>
        <div v-if="!!popup" class="dialog-overlay">
            <div class="dialog-content">
                <h2>{{ popTitle }}</h2>
                <p>{{ popMessage }}</p>
                <button @click="closePop">Schließen</button>
            </div>
        </div>
    </div>
    <div id="schulclub" v-if="activePage === 2">
        <a @click="activePage = 0" href="/admin/">Zum Admin-Interface (für Schulclub-Mitglieder) --&gt</a>
    </div>
</body>
</html>