html, body {
  max-width: 100%;
  overflow-x: hidden;
  min-height:100%;
  /* background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(83, 210, 83, 0.3)), url(""); */
  background-size:cover;
}
/* .navbar {
  color: whitesmoke;
} */
.products {
    align-self: center;
    text-align: center;
    align-items: center;
}
.productcontainer {
    display: flex;
    flex-wrap: wrap;
  }
  .text {
    flex: 1;
  }
  .image {
    flex: 1;
    margin-top: 20px;
  }
  @media (max-width: 900px) {  
    .productcontainer {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .text {
      text-align: left;
      margin-right: 100%;
    }
    .image {
      justify-content: flex-start;
      align-items: flex-start;
      margin-left: 0;
    }    
  }
  .disabled-button {
    display: none;
    background-color: #9e9e9e;
  }
.submitCartBtn {
  color: whitesmoke;
  background-color: rgb(14, 148, 14);
  align-items: center;
  align-content: center;
  align-self: center;
  margin-left: 40%;
  margin-bottom: 30px;
}
@media (max-width: 1000px) {
  #navcontent {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  #navcontent .nav-item {
    white-space: nowrap;
    margin: 0 3vh;
  }
  .navbar-brand {
    margin-left: 4vh;
  }
}
.navbar-brand {
  margin-left: 30px;
}
.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}
.dialog-button {
  margin-top: 10px;
}

#productAdd {
  margin-left: 27px;
}
form div {
  margin-bottom: 12px;
}
form label {
  display: inline-block;
  width: 120px;
}
form input {
  width: 200px;
}
#schulclub {
  margin-left: 25px;
}